{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <button id="btnCreate" class="btn btn-primary">Realizar préstamo</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Libro</th>
                    <th>Socio</th>
                    <th>Fecha comienzo</th>
                    <th>Fecha fin</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pr in prestamos %}
                    <tr>
                        <td>{{ pr.copia_libro_id.isbn.titulo }} ({{ pr.copia_libro_id.isbn.autor }})</td>
                        <td>{{ pr.socio_id.nombre_completo }}</td>
                        <td>{{ pr.fecha_comienzo }}</td>
                        <td>
                            {% if pr.estado == 't' %}
                                {{ pr.fecha_fin }}
                            {% else %}
                                {{ '---' }}
                            {% endif %}
                        </td>
                        <td>{{ pr.estado_string.capitalize }}</td>
                        <td>
                            <button class="btn btn-info btn-information" data-id="{{ pr.id }}">Información</button>
                            {% if pr.estado == 'p' %}
                                -
                                <button class="btn btn-warning btn-devolucion" data-idsocio="{{ pr.socio_id.id }}" data-nroinventario="{{ pr.copia_libro_id.num_inventario }}">Devolución</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="CreateOrEdit" method="POST" action="{% url 'biblio:prestamos' %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Registrar préstamo</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="socio">Socio</label>
                                    <select class="form-control" name="socio" id="socio">
                                        <option value="">Seleccione un socio...</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="libro">Libro</label>
                                    <select class="form-control" name="libro" id="libro">
                                        <option value="">Seleccione un libro...</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button id="btnAccept" type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="myInfoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="modalInfoTitle" class="modal-title">Información del prestamo</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="fechaInicio">Fecha de comienzo</label>
                                <input type="date" class="form-control" id="fechaInicio" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="fechaFin">Fecha de finalización</label>
                                <input type="date" class="form-control" id="fechaFin" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="estado" class="">Estado</label>
                                <input type="text" class="form-control" id="estado" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4 class="text-center">Libro</h4>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="infoIsbn">ISBN</label>
                                                        <input class="form-control" type="text" id="infoIsbn" name="isbn" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="infoDate">Fecha</label>
                                                        <input class="form-control" type="date" id="infoDate" name="date" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="infoTitle">Titulo</label>
                                                        <input class="form-control" type="text" id="infoTitle" name="title" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="infoAuthor">Autor</label>
                                                        <input class="form-control" type="text" id="infoAuthor" name="author" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4 class="text-center">Socio</h4>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="document">Documento</label>
                                                                <input class="form-control" type="text" id="document" name="document" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="name">Nombre completo</label>
                                                                <input class="form-control" type="text" id="name" name="name" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="email">E-Mail</label>
                                                                <input class="form-control" type="text" id="email" name="email" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="birthday">Fecha de nacimiento</label>
                                                                <input class="form-control" type="date" id="birthday" name="birthday" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="state">Estado</label>
                                                                <select class="form-control" name="state" id="state" disabled>
                                                                    <option value="n">Normal</option>
                                                                    <option value="m">Moroso</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Se incluye el estilo de SweetAlert -->
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/prestamos.js' %}"></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
{% endblock %}
