{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="input-group">
                <input type="date" class="form-control" placeholder="Search for..." id="fechaPrestamo">
                <span class="input-group-btn">
                    <button id="searchButton" class="btn btn-success" type="button">Buscar!</button>
                </span>
            </div><!-- /input-group -->
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <table id="table" class="table table-bordered">
            <thead>
                <tr>
                    <th class="col-md-3">Libro</th>
                    <th class="col-md-3">Socio</th>
                    <th class="col-md-4">Fecha de devolucion pautada</th>
                    <th class="col-md-2">Estado</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}">
    <script src="{% static 'js/prestamosPorFecha.js' %}"></script>
{% endblock %}
