{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <button id="btnCreate" class="btn btn-primary">Registrar socio</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Documento</th>
                    <th>Nombre completo</th>
                    <th>E-Mail</th>
                    <th>Fecha de nac.</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for soc in socios %}
                    <tr data-id="{{ soc.id }}" data-document="{{ soc.documento }}">
                        <td>{{ soc.documento }}</td>
                        <td>{{ soc.nombre_completo }}</td>
                        <td>{{ soc.email }}</td>
                        <td>{{ soc.fecha_nacimiento }}</td>
                        <td>{{ soc.estado_string.capitalize }}</td>
                        <td>
                            <button class="btn btn-info btn-information" data-id="{{ soc.id }}">Información</button>
                            -
                            <button class="btn btn-primary btn-edit" data-id="{{ soc.id }}">Editar</button>
                            -
                            <button class="btn btn-danger btn-delete" data-id="{{ soc.id }}">Eliminar</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="CreateOrEdit" method="POST" action="{% url 'biblio:socios' %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Registrar socio</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="document">Documento</label>
                                    <input class="form-control" type="text" id="document" name="document">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Nombre completo</label>
                                    <input class="form-control" type="text" id="name" name="name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email">E-Mail</label>
                                    <input class="form-control" type="text" id="email" name="email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="birthday">Fecha de nacimiento</label>
                                    <input class="form-control" type="date" id="birthday" name="birthday">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button id="btnAccept" type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="myInfoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Información del socio</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="infoDocument">Documento</label>
                                <input class="form-control" type="text" id="infoDocument" name="infoDocument" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="infoName">Nombre completo</label>
                                <input class="form-control" type="text" id="infoName" name="infoName" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="infoEmail">E-Mail</label>
                                <input class="form-control" type="text" id="infoEmail" name="infoEmail" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="infoBirthday">Fecha de nacimiento</label>
                                <input class="form-control" type="date" id="infoBirthday" name="infoBirthday" disabled>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="infoState">Estado</label>
                                <input class="form-control" type="text" id="infoState" name="infoState" disabled>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Libros prestados</h3>
                            <table id="table" class="table table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>ISBN</th>
                                    <th>Título</th>
                                    <th>Autor</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Se incluye el estilo de SweetAlert -->
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}">
    <script src="{% static 'js/socios.js' %}"></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
{% endblock %}
