{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Documento</th>
                    <th>Nombre completo</th>
                    <th>E-Mail</th>
                    <th>Fecha de nac.</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for soc in socios %}
                    <tr data-id="{{ soc.id }}" data-document="{{ soc.documento }}">
                        <td>{{ soc.documento }}</td>
                        <td>{{ soc.nombre_completo }}</td>
                        <td>{{ soc.email }}</td>
                        <td>{{ soc.fecha_nacimiento }}</td>
                        <td>{{ soc.estado_string.capitalize }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
{% endblock %}
