{% load static %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/biblio">
                <span><img style="height: 100%" src="{% static 'icons/LogoGreen.ico' %}"> Biblio</span>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{% url 'biblio:libros' %}">Libros</a></li>
            <li><a href="{% url 'biblio:copias' %}">Copias</a></li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Prestamos <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'biblio:prestamos' %}">Todos</a></li>
                    <li><a href="{% url 'biblio:prestamos_por_fecha' %}">Por fecha</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Socios <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'biblio:socios' %}">Todos</a></li>
                    <li><a href="{% url 'biblio:morosos' %}">Morosos</a></li>
                    <li><a href="{% url 'biblio:morosos_por_fecha' %}">Morosos por fecha</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'biblio:logout' %}">Salir</a></li>
        </ul>
    </div>
</nav>
