{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <button id="btnCreate" class="btn btn-primary">Registrar copia</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nro. Inventario</th>
                    <th>Libro</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cop in copias %}
                    <tr data-inventario="{{ cop.num_inventario }}">
                        <td>{{ cop.num_inventario }}</td>
                        <td>[{{ cop.isbn.isbn }}] {{ cop.isbn.titulo }}</td>
                        <td>{{ cop.estado_string.capitalize }}</td>
                        <td><button class="btn btn-info btn-information" data-inventario="{{ cop.num_inventario }}">Información</button> - <button class="btn btn-danger btn-delete" data-inventario="{{ cop.num_inventario }}">Eliminar</button></td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="CreateOrEdit" method="POST" action="{% url 'biblio:copias' %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Registrar copia</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label for="isbn">Libro</label>
                                    <select class="form-control" name="isbn" id="isbn">
                                        <option value="">Seleccione un libro...</option>
                                        {% for lib in libros %}
                                            <option value="{{ lib.isbn }}">[{{ lib.isbn }}] {{ lib.titulo }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="cant">Cantidad</label>
                                    <input type="number" class="form-control" name="cant" id="cant" value="1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button id="btnAccept" type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="myInfoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="modalInfoTitle" class="modal-title">Información de la Copia</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="nroInv" class="">Nro. Inventario</label>
                                <input type="text" class="form-control" id="nroInv" disabled>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <label for="estado" class="">Estado</label>
                                <input type="text" class="form-control" id="estado" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="text-center">Libro</h4>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="infoIsbn">ISBN</label>
                                                <input class="form-control" type="text" id="infoIsbn" name="isbn" disabled>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="infoDate">Fecha</label>
                                                <input class="form-control" type="date" id="infoDate" name="date" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="infoTitle">Titulo</label>
                                                <input class="form-control" type="text" id="infoTitle" name="title" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="infoAuthor">Autor</label>
                                                <input class="form-control" type="text" id="infoAuthor" name="author" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ifsocio">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4 class="text-center">Socio</h4>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="document">Documento</label>
                                                        <input class="form-control" type="text" id="document" name="document" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="name">Nombre completo</label>
                                                        <input class="form-control" type="text" id="name" name="name" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="email">E-Mail</label>
                                                        <input class="form-control" type="text" id="email" name="email" disabled>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="birthday">Fecha de nacimiento</label>
                                                        <input class="form-control" type="date" id="birthday" name="birthday" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="state">Estado</label>
                                                        <select class="form-control" name="state" id="state" disabled>
                                                            <option value="n">Normal</option>
                                                            <option value="m">Moroso</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Se incluye el estilo de SweetAlert -->
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/copias.js' %}"></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
{% endblock %}
