{% extends 'layout.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <button id="btnCreate" class="btn btn-primary">Registrar libro</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ISBN</th>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Fecha de ingreso</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for lib in libros %}
                    <tr data-id="{{ lib.id }}" data-isbn="{{ lib.isbn }}">
                        <td>{{ lib.isbn }}</td>
                        <td>{{ lib.titulo }}</td>
                        <td>{{ lib.autor }}</td>
                        <td>{{ lib.fecha_ingreso }}</td>
                        <td>
                            <button class="btn btn-info btn-information" data-id="{{ lib.id }}" data-isbn="{{ lib.isbn }}">Información</button>
                            -
                            <button class="btn btn-info btn-edit" data-id="{{ lib.id }}" data-isbn="{{ lib.isbn }}">Editar</button>
                            -
                            <button class="btn btn-danger btn-delete" data-id="{{ lib.id }}" data-isbn="{{ lib.isbn }}">Eliminar</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="CreateOrEdit" method="POST" action="{% url 'biblio:libros' %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Registrar libro</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="isbn">ISBN</label>
                                    <input class="form-control" type="text" id="isbn" name="isbn">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="code">Código</label>
                                    <input class="form-control" type="text" id="code" name="code">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="date">Fecha</label>
                                    <input class="form-control" type="date" id="date" name="date" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="title">Titulo</label>
                                    <input class="form-control" type="text" id="title" name="title">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="author">Autor</label>
                                    <input class="form-control" type="text" id="author" name="author">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button id="btnAccept" type="submit" class="btn btn-primary">Registrar</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="myInfoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Información del libro</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="infoIsbn">ISBN</label>
                                <input class="form-control" type="text" id="infoIsbn" name="infoIsbn" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="infoCode">Código</label>
                                <input class="form-control" type="text" id="infoCode" name="infoCode" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="infoDate">Fecha</label>
                                <input class="form-control" type="date" id="infoDate" name="infoDate" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="infoTitle">Titulo</label>
                                <input class="form-control" type="text" id="infoTitle" name="infoTitle" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="infoAuthor">Autor</label>
                                <input class="form-control" type="text" id="infoAuthor" name="infoAuthor" disabled>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Copias del libro</h3>
                            <table id="table" class="table table-bordered" width="100%">
                            <thead>
                                <tr>
                                    <th>Nro. Inventario</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Se incluye el estilo de SweetAlert -->
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}">
    <script src="{% static 'js/libros.js' %}"></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
{% endblock %}
