{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form method="POST" action="{% url 'biblio:login'  %}">
            {% csrf_token %}
            <h1 class="text-center login-title">Iniciar sesión</h1>
            {% if error %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ error }}
                </div>
            {% endif %}
            <div class="form-group">
                <label class="sr-only" for="username">Usuario</label>
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                    <input type="text" class="form-control" value="{% if old %}{{ old.username }}{% endif %}" id="username" name="username" placeholder="Usuario" autofocus>
                </div>
            </div>
            <div class="form-group">
                <label class="sr-only" for="password">Contraseña</label>
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>
    </div>
</div>
{% endblock %}
